@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border-radius: 10px;
}

/* Handle on hover */

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .mask {
    mask-image: linear-gradient(#000, #000, rgba(0, 0, 0, 0.1));
  }
}
